*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
   }


.main{
    width: 80%;
    margin: 0 auto;
}
.container{
    text-align: center;
    
}
.description{
    margin: 2em auto;
    width: 60%;
}
.bestellProzess{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
   
}
.bestellProzess__container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bestellProzess__container-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   margin: 1em;
    width: 310px;

    
    /*  
    height: auto;
    padding: 2em;
    text-align: left; */
}
.bestellProzess__container-items > h2{
    padding-bottom: 1em;
}
.bestellProzess__container-items >p {
text-align: left;
}
.buttonProduckte{
    padding-top: 2em;
}
.buttonProduckte__button{

    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #09f;
    color: #fff;
    fill: #fff;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-decoration: none;
    appearance: none;
    padding: 0 20px;
}
.detailsBlick{
    margin: 2em 0;
}
.detailsBlick__list{
    
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    margin: 2em 0;
    width: auto;
}
.detailsBlick__list > li{
    padding: 1em 0;
}
.kaufPreis{
    text-align: center;
}
.kaufPreis > h2{
    margin: 1em 0;
}
.answer__list{
    width: 100%;
    font-size: 15px;
    list-style: none;
    line-height: 1.6;
    font: 600 19px 'Exo 2', Arial, Helvetica, sans-serif;
   

}
.answer__item > a{
  text-decoration: none;
  color: black;
    padding: 22px 0;
    width: 100%;
    white-space: normal;
    text-overflow: unset;
   
 
}

.answer__item{
    margin: 2em 0;
  border-bottom: 1px solid #ccc;
  width: 100%;

}