*{
    
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
/* .content-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
} */
.second-title{
    text-align: center;
}

.bestellprozess{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
   

}
.bestell{
    width: 300px;
}
.buttonLeasing{
    text-align: center;
    padding-top: 2em;
}
.button{
  
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #09f;
    color: #fff;
    fill: #fff;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-decoration: none;
    padding: 0 20px;
}
.head-title{
    text-align: center;
    font-size: 1em;
}
.img-bestell{
    width: 200px;
}
.details{
    margin-top: 2em;
   margin-left: 20em;
    display: flex;
    justify-content: space-around;
    /* width: 60%; */
}
.bullet-list > li{
padding: .5em 0;
}
.extra-details{
    padding: 1em ;
    max-width: 60%;
    margin: 0 auto;
}

.container-frame{
    margin-left:10em;
    text-align: center;
    margin-top: 1em;
}
.container-wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.faq{
    text-align: center;
}
.btnFaq{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: #09f;
    color: #fff;
    fill: #fff;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    text-shadow: none;
    margin: 0;
    text-decoration: none;
    appearance: none;
    padding: 0 20px;
}